body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #666; /* this is the colour for text in the header/footer */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0px;
}

/* this is the set up for the buttons specifically */
nav a {
    color: #666;
    padding: 20px 25px;
    text-decoration: none;
}

nav a:hover{
    color: white;
    background-color: #9C91C9;
}

.hero{
    width: 100%;
    height: 450px;
    background-image: url(mana_symbols.gif);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.logo{
    justify-content: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-align: center;
}

.row{
    display: flex;
    text-align: center;
}

.column70{
    flex: 7;
    margin: 5px;
    padding: 20px;
    margin-top: 0;
    color: 666;
    text-align: center;
}

.column30{
    flex: 3;
    margin: 0;
    padding: 10px;
    margin-top: 0;
    
}

.column60{
    flex: 6;
    margin: 0;
    padding: 0;
    margin-top: 0;
    color: 666;
    text-align: center;
}

.column40{
    flex: 4;
    margin: 5px;
    padding: 20px;
    margin-top: 0;
}

.column25{
    flex: 2.5; /* in this context 2.5 = 25% */
    margin: 5px;
    padding: 20px;
    margin-top: 0;
}

.column100{
    flex: 10;
    list-style-position: inside;
}

.imagebox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 15px;
    padding: 20px;
}

.imagebox img{
    width: 100%;
    height: auto; /* maintains image aspect */
    object-fit: cover; /* crops the fit */
}

.column10{
    flex: 1;
    margin: 5px;
    padding: 20px;
    margin-top: 0;
}

.column90{
    flex: 9;
    margin: 5px;
    padding: 20px;
    margin-top: 0;
}

.white{
    color: #444;
    text-align: center;
}

.blue{
    color: #80C1E9;
    text-align: center;
}

.black{
    color: #9C91C9;
    text-align:center
}

.red{
    color: #f08676;
    text-align: center;
}

.green{
    color: #92C674;
    text-align: center;
}

.colourless{
    color: #666;
    text-align: center;
}

.multicoloured{
    color: #E06C9F;
    text-align: center;
}

.set{
    text-align: center;
    list-style-position: inside;
}

.heading{
    text-align: center;
    color: #666;
    list-style-position: inside;
}

.form{
    text-align: center;
}

.sudo{
    width: 650px;
    height: 900px;
    margin:50px;
    background-image: url("backMagicCard.jpg");
    background-size: cover;
}

.sudo:hover{
    background-image: url("Magic_card_back_mistake.jpg");
}